.p-section-search {
	align-items: center;
	display: flex;
	gap: 4px;
	padding: 24px 8px;
	width: 100%;
}

.p-section-search__input {
	flex: 1;
}

.p-section-search__cancel {
	flex: 0 0 70px;
	text-align: center;
}
