.c-text-small{font-size:var(--small-fontSize);line-height:var(--default-lineHeight)}.c-text-small::before{content:"";display:block;height:0;margin-top:calc((1 - 1.5) * .5em);width:0}.c-text-small::after{content:"";display:block;height:0;margin-bottom:calc((1 - 1.5) * .5em);width:0}.c-text-xsmall{font-size:10px;line-height:var(--default-lineHeight)}.c-text-xsmall::before{content:"";display:block;height:0;margin-top:calc((1 - 1.5) * .5em);width:0}.c-text-xsmall::after{content:"";display:block;height:0;margin-bottom:calc((1 - 1.5) * .5em);width:0}.c-text-micro{font-size:8px;line-height:var(--default-lineHeight)}.c-text-micro::before{content:"";display:block;height:0;margin-top:calc((1 - 1.5) * .5em);width:0}.c-text-micro::after{content:"";display:block;height:0;margin-bottom:calc((1 - 1.5) * .5em);width:0}