// スライダー用
@use "../setting/variables" as *;
@use "../setting/mixins" as *;

// スライダー枠
.c-slider {
	background-color: var(--gray100);
	padding: 16px 0 16px 16px;
	overflow-x: scroll;
}

.c-list-products {
	display: flex;
	gap: 8px;
	list-style: none;
}

.c-list-products__slide{
	flex: 0 0 76px;
	@media screen and (min-width: 641px) {
		flex: 0 0 119px;
	}
}
.c-products {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #fff;
	border-radius: 4px;
	color: #383838;
	text-decoration: none;
	aspect-ratio: 76 / 112;
	text-align: center;
	padding: 8px;
	width: auto;
	// height: 112px;

	&__title {
		font-weight: 600;
		font-size: 13px;
		line-height: calc(16 /13);
		margin-bottom: 4px;
	}
	&__thumbs {
		display: flex;
		align-items: center;
		justify-content: center;
		aspect-ratio: 1 / 1;
	}
}