// ブロックカテゴリー用スタイル

@use "../setting/variables" as *;
@use "../setting/mixins" as *;

.c-wrapper-top {
	padding-bottom: 6px;
}

.c-section {
	padding: var(--bs16);
	&:not(:last-child) {
		border-bottom: 4px solid var(--gray200);
	}
	// デフォルトのセクション用ヘッダー
	&__header {
		display: flex;
		align-items: center;
		gap: 8px 0;
		margin: var(--bs8) 0 var(--bs24);
	}
	// スライダーやナビゲーション設置用に左右の余白を消す
	&__horizontal-padding-off {
		margin: 0 -16px;
		overflow: hidden;
	}
	&__bottom {
		margin: 20px 0 4px;
	}
}


// Mixin End
