// エレメント用スタイル

@use "../setting/variables" as *;
@use "../setting/mixins" as *;

.c-button-sponsored {
	display: flex;
	align-items: center;
	height: 18px;
	width: 65px;
	gap: 3px;
	cursor: pointer;
	&__text {
		color: var(--gray400);
		font-size: 10px;
		line-height: 1.8;
		@include lineHeightCrop(1.8);
		// background: url(#{cdn}/guidline/dpm/assets/img/icon_sponsored.png) no-repeat center center;
		// background-size: 12px auto;
		// padding-right: 14px;
	}
	&__icon {
		flex: 0 0 12px;
		aspect-ratio: 12 / 12;
	}
}
.c-wrapper-bnr-sponsered {
	margin-top: 3px;
}
