// テキスト
@use "../setting/variables" as *;
@use "../setting/mixins" as *;

.c-text {
	font-size: var(--medium-fontSize);
	line-height: var(--default-lineHeight);
	@include lineHeightCrop(1.5);

}

.c-text-sm {
    font-size: var(--small-fontSize);
    color: var(--gray800);
    line-height: calc(18 / 12);
}

// リンク
.c-text-link {
	color: var(--textLink);
    font-size: var(--small-fontSize);
	&:hover,
	&:active,
	&:visited {
		color: var(--textLink);
	}
	// 矢印付
	&-arrow {
		color: var(--textLink);
		@include lineHeightCrop(1.5);
		display: flex;
		align-items: center;
		height: 18px;
		padding-right: 14px;
		background: url(#{$cdn}/guideline/dpm/assets/img/bg_text_link_arrow.png#{$bgImgCache}) no-repeat center right;
		background-size: auto 12px;
		font-size: var(--small-fontSize);
		&:hover,
		&:active,
		&:visited {
			color: var(--textLink);
		}

	}
}
