## 共通CSSキャッシュ用vm

## CSS用キャッシュを定義
#set($cache_css_dpm_global = "202306131357")

## 画像用キャッシュを定義
#set($cache_img_dpm_global = "202306131357")

## JS用キャッシュを定義
#set($cache_js_dpm_global  = "202306131357")
