@charset 'UTF-8';
:root
{
    --primary: #cf0f30;
    --secondary100: #ffd4dc;
    --secondary200: #ffe9ed;
    --bg100: #f9f9f9;
    --textLink: #0c7ecc;
    --monoWhite: #fff;
    --gray050: #f6f6f6;
    --gray100: #f0f0f0;
    --gray200: #e0e0e0;
    --gray300: #d0d0d0;
    --gray400: #b0b0b0;
    --gray500: #808080;
    --gray600: #606060;
    --gray700: #505050;
    --gray800: #383838;
    --gray900: #282828;
    --monoBlack: #000;
    --star: #ffbb0b;
    --star45: #ff4500;
    --star0: #e0e0e0;
    --small-fontSize: 12px;
    --medium-fontSize: 14px;
    --large-fontSize: 18px;
    --bold-600: 600;
    --bold-700: 700;
    --narrow-lineHeight: 1.35;
    --default-lineHeight: 1.5;
    --wide-lineHeight: 1.75;
    --radius-low: 4px;
    --radius-medium: 8px;
    --radius-max: 100%;
    --lowLight-shadow: 0 0 8px rgba(0, 0, 0, .08);
    --mediumLight-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    --strongLight-shadow: 0 3px 5px 2px rgba(0, 0, 0, .15);
    --bs8: 8px;
    --bs16: 16px;
    --bs24: 24px;
    --bs48: 48px;
    --bs64: 64px;
    --bs96: 96px;
}

/*! リセットcss */
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after
{
    box-sizing: border-box;

    border-width: 0;
    border-style: solid;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html
{
    line-height: 1.15; /* 1 */

    -webkit-text-size-adjust: 100%; /* 2 */
    -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body
{
    margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main
{
    display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl
{
    margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol
{
    margin: 0;
    padding: 0;

    list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt
{
    font-weight: bold;
}

dd
{
    margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr
{
    clear: both;
    overflow: visible; /* 2 */

    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    margin: 0;

    color: inherit;
    border-top-width: 1px;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre
{
    font-family: monospace, monospace; /* 1 */
    font-size: inherit; /* 2 */
}

address
{
    font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a
{
    text-decoration: none;

    color: inherit;
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title]
{
            text-decoration: underline; /* 2 */
            text-decoration: underline dotted; /* 2 */

    -webkit-text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong
{
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp
{
    font-family: monospace, monospace; /* 1 */
    font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small
{
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sub
{
    bottom: -.25em;
}

sup
{
    top: -.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe
{
    vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea
{
    font: inherit;

    margin: 0;
    padding: 0;

    text-align: inherit;
    vertical-align: middle;

    color: inherit;
    border-radius: 0;
    outline: 0;
    background: transparent;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox]
{
    -webkit-appearance: checkbox;
       -moz-appearance: checkbox;
            appearance: checkbox;
}

[type=radio]
{
    -webkit-appearance: radio;
       -moz-appearance: radio;
            appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input
{
    /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select
{
    /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit]
{
    cursor: pointer;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled]
{
    cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner
{
    padding: 0;

    border-style: none;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring
{
    outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand
{
    display: none;
}

/**
 * Remove padding
 */
option
{
    padding: 0;
}

/**
 * Reset to invisible
 */
fieldset
{
    min-width: 0;
    margin: 0;
    padding: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend
{
    display: table; /* 1 */

    max-width: 100%; /* 1 */
    padding: 0; /* 3 */

    white-space: normal; /* 1 */

    color: inherit; /* 2 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress
{
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea
{
    overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button
{
    height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search]
{
    outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration
{
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button
{
    font: inherit; /* 2 */

    -webkit-appearance: button; /* 1 */
}

/**
 * Clickable labels
 */
label[for]
{
    cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details
{
    display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary
{
    display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]
{
    outline: none;
}

/* Table */
/* ============================================ */
table
{
    border-spacing: 0;
    border-collapse: collapse;
}

caption
{
    text-align: left;
}

td,
th
{
    padding: 0;

    vertical-align: top;
}

th
{
    font-weight: bold;

    text-align: left;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template
{
    display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden]
{
    display: none;
}

html
{
    font-family: 'Hiragino Sans', 'Meiryo', 'Hiragino Kaku Gothic ProN', sans-serif;
    font-size: var(--medium-fontSize);
    line-height: var(--default-lineHeight);

    color: var(--gray800);
}

body
{
    background-color: #f5f5f5;
}

a,
a:hover,
a:visited,
a:link
{
    text-decoration: none;
}

img
{
    display: block;

    width: 100%;
    height: auto;

    vertical-align: baseline;
}

.l-header
{
    width: 100%;

    background-color: #fff;
}
.l-header__top
{
    position: relative;

    display: flex;

    height: 64px;
    padding: 8px 8px 12px;

    align-items: center;
    justify-content: center;
}
.l-header__search
{
    display: flex;

    width: 100%;
    margin-bottom: 8px;
    padding: 0 16px;

    gap: 8px;
}
.l-header__account
{
    display: flex;

    padding: var(--bs8) var(--bs16);

    background-color: var(--bg100);
}

.l-hader-logo
{
    max-width: 137px;
}
@media screen and (min-width: 641px)
{
    .l-hader-logo
    {
        max-width: 164px;
    }
}

.l-hader-copy
{
    font-size: 8px;
    font-weight: var(--bold-700);
    line-height: 1;

    margin-top: 3px;

    text-align: center;

    color: var(--gray800);
}
@media screen and (min-width: 641px)
{
    .l-hader-copy
    {
        font-size: 10px;
    }
}
.l-hader-copy::before
{
    display: block;

    width: 0;
    height: 0;
    margin-top: calc((1 - 1) * .5em);

    content: '';
}
.l-hader-copy::after
{
    display: block;

    width: 0;
    height: 0;
    margin-bottom: calc((1 - 1) * .5em);

    content: '';
}

.l-header-mypage
{
    position: absolute;
    top: 12px;
    right: 8px;

    display: block;

    width: 50px;
    height: 40px;
}
.l-header-mypage__icon
{
    width: auto;
    height: 25px;
    margin: auto;
}
.l-header-mypage__label
{
    font-size: 10px;
    line-height: 1.2;

    margin-top: 3px;

    text-align: center;
}
.l-header-mypage__label::before
{
    display: block;

    width: 0;
    height: 0;
    margin-top: calc((1 - 1.2) * .5em);

    content: '';
}
.l-header-mypage__label::after
{
    display: block;

    width: 0;
    height: 0;
    margin-bottom: calc((1 - 1.2) * .5em);

    content: '';
}

.l-header-search-keyword
{
    width: 100%;
    height: 48px;

    flex: 1;
}

.l-header-search__service,
.l-header-search__category
{
    font-size: 9px;
    font-weight: 600;

    padding: 4px;

    cursor: pointer;
    text-align: center;

    border-radius: 4px;

    aspect-ratio: 5/4;
}

.l-header-search
{
    flex: 0 0 60px;
}
.l-header-search__category
{
    color: var(--gray800);
    border: 1px solid var(--gray800);
}
.l-header-search__service
{
    color: var(--primary);
    border: 1px solid var(--primary);
}

.l-header-search-menu-list
{
    display: none;
}
.l-header-search-menu-list.is-search-menu-list-open
{
    display: block;
}

.l-root
{
    width: 100%;
    max-width: 750px;
    margin: auto;
}

.l-wrapper
{
    position: relative;

    background-color: #fff;
}

.l-footer
{
    width: 100%;
    max-width: 750px;
    margin: auto;
}

.l-footer-sns
{
    display: flex;
}

.l-footer-sns__line,
.l-footer-sns__twitter
{
    display: flex;

    padding: 8px;

    flex: 1;
    align-items: center;
}

.l-footer-sns__twitter
{
    background-color: #1da1f2;
}

.l-footer-sns__line
{
    background-color: #1dcd00;
}

.l-footer-sns__text
{
    font-size: var(--small-fontSize);
    font-weight: var(--bold-600);
    line-height: 1.3333;

    letter-spacing: -.05px;

    color: #fff;
}
.l-footer-sns__text::before
{
    display: block;

    width: 0;
    height: 0;
    margin-top: calc((1 - 1.3333) * .5em);

    content: '';
}
.l-footer-sns__text::after
{
    display: block;

    width: 0;
    height: 0;
    margin-bottom: calc((1 - 1.3333) * .5em);

    content: '';
}

.l-footer-sns__icon
{
    display: block;

    width: 20px;
    height: auto;
    margin-right: var(--bs8);
}

.l-footer-services
{
    padding: 24px 16px;

    color: #fff;
    background-color: var(--primary);
}

.l-footer-services__sect:not(:last-child)
{
    margin-bottom: 16px;
}

.l-footer-services__title
{
    font-size: var(--small-fontSize);
    font-weight: var(--bold-600);
    line-height: 1.3333;

    margin-bottom: 8px;
}
.l-footer-services__title::before
{
    display: block;

    width: 0;
    height: 0;
    margin-top: calc((1 - 1.3333) * .5em);

    content: '';
}
.l-footer-services__title::after
{
    display: block;

    width: 0;
    height: 0;
    margin-bottom: calc((1 - 1.3333) * .5em);

    content: '';
}

.l-footer-services__list
{
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    gap: 8px 0;
}

.l-footer-services-text
{
    font-size: 11px;
    font-weight: 300;
    line-height: 1.2727;
}
.l-footer-services-text::before
{
    display: block;

    width: 0;
    height: 0;
    margin-top: calc((1 - 1.2727) * .5em);

    content: '';
}
.l-footer-services-text::after
{
    display: block;

    width: 0;
    height: 0;
    margin-bottom: calc((1 - 1.2727) * .5em);

    content: '';
}

.l-footer-copy
{
    display: flex;

    padding: 16px;

    background-color: #fff;

    align-items: center;
    justify-content: center;
}

.l-footer-copy__text
{
    font-size: var(--small-fontSize);

    color: var(--primary);
}
.l-footer-copy__text::before
{
    display: block;

    width: 0;
    height: 0;
    margin-top: -.25em;

    content: '';
}
.l-footer-copy__text::after
{
    display: block;

    width: 0;
    height: 0;
    margin-bottom: -.25em;

    content: '';
}

.c-wrapper-top
{
    padding-bottom: 6px;
}

.c-section
{
    padding: var(--bs16);
}
.c-section:not(:last-child)
{
    border-bottom: 4px solid var(--gray200);
}
.c-section__header
{
    display: flex;

    margin: var(--bs8) 0 var(--bs24);

    align-items: center;
    gap: 8px 0;
}
.c-section__horizontal-padding-off
{
    overflow: hidden;

    margin: 0 -16px;
}
.c-section__bottom
{
    margin: 20px 0 4px;
}

.c-hedding-lv1
{
    font-size: var(--large-fontSize);
    font-weight: var(--bold-700);
    line-height: var(--narrow-lineHeight);
}
.c-hedding-lv1::before
{
    display: block;

    width: 0;
    height: 0;
    margin-top: calc((1 - 1.35) * .5em);

    content: '';
}
.c-hedding-lv1::after
{
    display: block;

    width: 0;
    height: 0;
    margin-bottom: calc((1 - 1.35) * .5em);

    content: '';
}

.c-heading-lv2
{
    font-size: var(--medium-fontSize);
    font-weight: var(--bold-600);
    line-height: var(--narrow-lineHeight);
}
.c-heading-lv2::before
{
    display: block;

    width: 0;
    height: 0;
    margin-top: calc((1 - 1.35) * .5em);

    content: '';
}
.c-heading-lv2::after
{
    display: block;

    width: 0;
    height: 0;
    margin-bottom: calc((1 - 1.35) * .5em);

    content: '';
}

.c-button-secondary,
.c-button-primary
{
    font-size: var(--medium-fontSize);
    font-weight: var(--bold-600);

    display: flex;

    width: 100%;
    min-height: 46px;
    padding: 14px;

    cursor: pointer;
    letter-spacing: .01em;

    border-radius: var(--radius-medium);

    justify-content: center;
    align-items: center;
}

.c-button-small
{
    font-size: var(--small-fontSize);
    font-weight: var(--bold-600);

    display: flex;

    width: 100%;
    min-height: 34px;
    padding: 8px;

    cursor: pointer;
    letter-spacing: .01em;

    border-radius: var(--radius-low);

    justify-content: center;
    align-items: center;
}

.c-button-primary
{
    color: #fff;
    background-color: var(--primary);
}
.c-button-primary.--disable
{
    cursor: default;

    background-color: var(--gray400);
}

.c-button-secondary
{
    cursor: pointer;

    color: var(--gray800);
    border: 1px solid var(--gray400);
    background-color: #fff;
}

.c-button-small
{
    color: #fff;
    background-color: var(--primary);
}
.c-button-small.--disable
{
    cursor: default;

    background-color: var(--gray400);
}

.c-btn-text
{
    line-height: 1.29;

    text-align: center;
}
.c-btn-text::before
{
    display: block;

    width: 0;
    height: 0;
    margin-top: calc((1 - 1.29) * .5em);

    content: '';
}
.c-btn-text::after
{
    display: block;

    width: 0;
    height: 0;
    margin-bottom: calc((1 - 1.29) * .5em);

    content: '';
}
.c-button-small .c-btn-text
{
    font-size: var(--small-fontSize);
    line-height: var(--default-lineHeight);
}
.c-button-small .c-btn-text::before
{
    display: block;

    width: 0;
    height: 0;
    margin-top: calc((1 - 1.5) * .5em);

    content: '';
}
.c-button-small .c-btn-text::after
{
    display: block;

    width: 0;
    height: 0;
    margin-bottom: calc((1 - 1.5) * .5em);

    content: '';
}

.c-btn-icon-favarite
{
    margin-right: var(--bs8);
}

.c-label-primary-xsm,
.c-label-primary-sm,
.c-label-primary-md,
.c-label-primary-lg
{
    font-size: var(--medium-fontSize);
    font-weight: var(--bold-600);

    display: flex;

    color: #fff;
    background-color: var(--primary);

    justify-content: center;
    align-items: center;
}

.c-label-primary-lg
{
    height: 46px;
    padding: 14px 24px;

    border-radius: var(--radius-medium);
}

.c-label-primary-md
{
    height: 36px;
    padding: 8px 16px;

    border-radius: var(--radius-medium);
}

.c-label-primary-sm
{
    height: 28px;
    padding: 4px 8px;

    border-radius: 6px;
}

.c-label-primary-xsm
{
    height: 28px;
    padding: 4px 8px;

    border-radius: 30px;
}

.c-label-secondary-xsm,
.c-label-secondary-sm,
.c-label-secondary-md,
.c-label-secondary-lg
{
    font-size: var(--medium-fontSize);
    font-weight: var(--bold-600);

    display: flex;

    color: var(--gray800);
    border: 1px solid var(--gray400);
    background-color: #fff;

    justify-content: center;
    align-items: center;
}

.c-label-secondary-lg
{
    height: 46px;
    padding: 14px 24px;

    border-radius: var(--radius-medium);
}

.c-label-secondary-md
{
    height: 36px;
    padding: 8px 16px;

    border-radius: var(--radius-medium);
}

.c-label-secondary-sm
{
    height: 28px;
    padding: 4px 8px;

    border-radius: 6px;
}

.c-label-secondary-xsm
{
    height: 28px;
    padding: 4px 8px;

    border-radius: 30px;
}

.c-label-text
{
    line-height: var(1.29);

    text-align: center;
}
.c-label-text::before
{
    display: block;

    width: 0;
    height: 0;
    margin-top: calc((1 - 1.29) * .5em);

    content: '';
}
.c-label-text::after
{
    display: block;

    width: 0;
    height: 0;
    margin-bottom: calc((1 - 1.29) * .5em);

    content: '';
}
.c-label-primary-md .c-label-text,
.c-label-primary-sm .c-label-text,
.c-label-primary-xsm .c-label-text
{
    line-height: var(1.43);
}
.c-label-primary-md .c-label-text::before,
.c-label-primary-sm .c-label-text::before,
.c-label-primary-xsm .c-label-text::before
{
    display: block;

    width: 0;
    height: 0;
    margin-top: calc((1 - 1.43) * .5em);

    content: '';
}
.c-label-primary-md .c-label-text::after,
.c-label-primary-sm .c-label-text::after,
.c-label-primary-xsm .c-label-text::after
{
    display: block;

    width: 0;
    height: 0;
    margin-bottom: calc((1 - 1.43) * .5em);

    content: '';
}

.c-button-sponsored
{
    display: flex;

    width: 65px;
    height: 18px;

    cursor: pointer;

    align-items: center;
    gap: 3px;
}
.c-button-sponsored__text
{
    font-size: 10px;
    line-height: 1.8;

    color: var(--gray400);
}
.c-button-sponsored__text::before
{
    display: block;

    width: 0;
    height: 0;
    margin-top: calc((1 - 1.8) * .5em);

    content: '';
}
.c-button-sponsored__text::after
{
    display: block;

    width: 0;
    height: 0;
    margin-bottom: calc((1 - 1.8) * .5em);

    content: '';
}
.c-button-sponsored__icon
{
    flex: 0 0 12px;
    aspect-ratio: 12/12;
}

.c-wrapper-bnr-sponsered
{
    margin-top: 3px;
}

.c-slider
{
    overflow: hidden;
    overflow-x: auto;

    margin-bottom: -20px;
    margin-bottom: -5px;
    padding: 16px 0 16px 16px;
    padding-bottom: -20px;

    background-color: #fff;

    scroll-snap-type: x mandatory;
}
.c-slider.--bg-gray100
{
    background-color: var(--gray100);
}
.c-slider::-webkit-scrollbar
{
    height: 5px;

    background-color: transparent;
}
.c-slider::-webkit-scrollbar-thumb
{
    overflow: hidden;

    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
}

.c-list-products
{
    display: flex;

    list-style: none;

    gap: 8px;
}

.c-list-products__slide
{
    flex: 0 0 76px;
}
@media screen and (min-width: 641px)
{
    .c-list-products__slide
    {
        flex: 0 0 119px;
    }
}

.c-products
{
    display: flex;
    flex-direction: column;

    width: auto;
    padding: 8px;

    text-align: center;
    text-decoration: none;

    color: #383838;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .08);

    align-items: center;
    justify-content: center;
    aspect-ratio: 76/112;
}
.c-products__title
{
    font-size: 13px;
    font-weight: 600;
    line-height: 1.2307692308;

    margin-bottom: 4px;
}
.c-products__thumbs
{
    display: flex;

    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
}

.c-text
{
    font-size: var(--medium-fontSize);
    line-height: var(--default-lineHeight);
}
.c-text::before
{
    display: block;

    width: 0;
    height: 0;
    margin-top: calc((1 - 1.5) * .5em);

    content: '';
}
.c-text::after
{
    display: block;

    width: 0;
    height: 0;
    margin-bottom: calc((1 - 1.5) * .5em);

    content: '';
}

.c-text-sm
{
    font-size: var(--small-fontSize);
    line-height: 1.5;

    color: var(--gray800);
}

.c-text-link
{
    font-size: var(--small-fontSize);

    color: var(--textLink);
}
.c-text-link:hover,
.c-text-link:active,
.c-text-link:visited
{
    color: var(--textLink);
}
.c-text-link-arrow
{
    font-size: var(--small-fontSize);

    display: flex;

    height: 18px;
    padding-right: 14px;

    color: var(--textLink);
    background: url($!{cdnServerUrl}/guideline/dpm/assets/img/bg_text_link_arrow.png?v=$!{cache_css_dpm-assets}&d=$!{categoryOfDevice}) no-repeat center right;
    background-size: auto 12px;

    align-items: center;
}
.c-text-link-arrow::before
{
    display: block;

    width: 0;
    height: 0;
    margin-top: calc((1 - 1.5) * .5em);

    content: '';
}
.c-text-link-arrow::after
{
    display: block;

    width: 0;
    height: 0;
    margin-bottom: calc((1 - 1.5) * .5em);

    content: '';
}
.c-text-link-arrow:hover,
.c-text-link-arrow:active,
.c-text-link-arrow:visited
{
    color: var(--textLink);
}

.c-tabs
{
    display: flex;

    width: 100%;
    height: 28px;
    margin-bottom: 16px;

    background-color: #fff;
}
.c-tabs__item
{
    font-size: var(--small-fontSize);
    font-weight: 700;
    line-height: 1.5;

    position: relative;

    display: flex;

    height: 20px;

    color: var(--gray400);

    flex: 1;
    align-items: center;
    justify-content: center;
}
.c-tabs__item:after
{
    position: absolute;
    bottom: -8px;
    left: 0;

    display: block;

    width: 100%;
    height: 1px;

    content: '';

    background-color: var(--gray100);
}
.c-tabs__item.is-tabs-active
{
    color: var(--gray800);
}
.c-tabs__item.is-tabs-active:after
{
    height: 3px;

    content: '';

    background-color: var(--primary);
}

.c-search
{
    display: flex;

    width: 100%;
    height: auto;
    padding: 11px 8px 11px 36px;

    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background: url($!{cdnServerUrl}/guideline/dpm/assets/img/bg_header_search_icon.png?v=$!{cache_css_dpm-assets}&d=$!{categoryOfDevice}) no-repeat 12px center;
    background-color: var(--bg100);
    background-size: 16px auto;

    align-items: center;
}
.c-search__input
{
    font-size: 14px;

    display: block;

    width: 100%;
    height: auto;

    color: var(--gray400);

    flex: 1;
}
.c-search__clear
{
    width: 18px;
    height: 18px;

    cursor: pointer;

    aspect-ratio: 1/1;
}

.u-position-right
{
    text-align: right;
}

.u-position-right-flex
{
    display: flex;

    justify-content: flex-end;
}

.u-position-center
{
    text-align: right;
}

.u-position-center-flex
{
    display: flex;

    justify-content: center;
}

.u-position-left-flex
{
    display: flex;

    justify-content: flex-start;
}

.u-text-size-8
{
    font-size: 8px;
}

.u-space-top-m8
{
    margin-top: 8px;
}

.u-space-top-p8
{
    padding-top: 8px;
}

.u-background-gray100
{
    background: var(--gray100);
}

.u-foo
{
    color: #000;
}
