## 共通CSSキャッシュ用vm

## CSS用キャッシュを定義
#set($cache_css_dpm_assets = "202306231736")

## 画像用キャッシュを定義
#set($cache_img_dpm_assets = "202306211459")

## JS用キャッシュを定義
#set($cache_js_dpm_assets  = "202306211444")
