## 共通CSSキャッシュ用vm

## CSS用キャッシュを定義
#set($cache_css_dpm_top = "202306211531")

## 画像用キャッシュを定義
#set($cache_img_dpm_top = "202306211531")

## JS用キャッシュを定義
#set($cache_js_dpm_top  = "202306211531")
